/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/07/81/seamless-weather-forecast-background-vector-2000781.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background-color: rgba(20, 197, 213, 0.7);
  background-image: url("https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1711324800&semt=ais");
  border-radius: 20px;
  padding: 10px;
}

.form-container {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #11d5cb;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ffc107;
  color: #b57575;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffca28;
}

.weather-container {
  margin-top: 20px;
}

.weather-icon {
  font-size: 100px;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  margin-bottom: 10px;
}

.weather-info p {
  margin: 5px 0;
}
